:root {
    --newLyricsSize: 0.75em;
    --newLyricsOpacity: 0.5;
    --newLyricsLineHeight: 1em;

    --lyricsSize: 1em;
    --lyricsColor: #fff;
    --lyricsDisplay : var(--lyricsDisplay);
}

@keyframes slideIn {
    0% {
        transform: scale(0);
        opacity: 0;
        max-height: 0px;
    }
    100% {
        opacity: var(--newLyricsOpacity) !important;
        transform: scale(1);
        max-height: 1000px;
    }
}

.newLyrics {
    font-size: var(--newLyricsSize )!important;
    margin-bottom: 10px;
    opacity: var(--newLyricsOpacity) !important;
    line-height: var(--newLyricsLineHeight) !important;

}

.newLyrics:hover {
    opacity: 0.5;
}

.EhKgYshvOwpSrTv399Mw > .newLyrics {
    opacity: calc(var(--newLyricsOpacity) + 0.30) !important;
}

.originalLyrics {
    font-size: var(--lyricsSize) !important;
    display: var(--lyricsDisplay) !important;
    line-height: 1.5em ;
}

.translateButton {
    background-color: transparent;
    border: none;
    color: hsla(0,0%,100%,.7);
    height: 32px;
    position: relative;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.translateButton:focus-visible,.translateButton:hover {
    color: #fff;
    cursor: pointer;
}

.translateButton:focus-visible:active,.translateButton:hover:active {
    color: hsla(0,0%,100%,.7)
}

.translateButton.RK45o6dbvO1mb0wQtSwq {
    color: #1db954
}

.translateButton.RK45o6dbvO1mb0wQtSwq:focus,.translateButton.RK45o6dbvO1mb0wQtSwq:hover {
    color: #1ed760
}

.translateButton.RK45o6dbvO1mb0wQtSwq:active {
    color: hsla(0,0%,100%,.7)
}

.translateButton.RK45o6dbvO1mb0wQtSwq:active:focus,.translateButton.RK45o6dbvO1mb0wQtSwq:active:hover {
    color: #1db954
}

.translateButton.EHxL6K_6WWDlTCZP6x5w:after {
    background-color: #1db954;
    border-radius: 50%;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 4px;
    inline-size: 4px!important;
}

.translateButton[disabled] {
    cursor: not-allowed;
    opacity: 0.3;
    transform: scale(1);
    color: var(--text-subdued, #656565);
}