@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #191414;
    color:aliceblue;
    font-family: 'Noto Sans', sans-serif;
    width: 400px;
}

h1 {
    color: #1db954;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.options {
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.newLyricsSize {
    font-size: 0.7em;
    line-height: 0.7em;
    width: 100%;
    gap: 10px;

}

button, input {
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
    height: 32px;
    width: 100%;
}

button:hover, input:hover {
    background-color: #1ED760;
    cursor: pointer;
    transition: all 0.25s;
}

select {
    border: none;
    height: 32px;
    width: 100%;
    background-color: #333333;
    color: white;
}
